.layout {
  width: 100vw;
  height: 100vh;
}

.add__button {
  margin: 1rem;
}
.add__button button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

.modal__container {
  /* position: absolute; */

  /* background-color: #ccd8db; */
}
