.headings {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  background-color: #b4c0c5;
  position: sticky;
  top: 0;
  z-index: 11;
}

.categories {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 0;
  padding: 0 1rem;
  /* background-color: #b4c0c5; */
}
.categories a {
  text-decoration: none;
  color: #565c5e;
  font-size: 1.1rem;
}

.categories a.active {
  color: black;
  font-weight: 600;
}

.menu {
  display: none;
}

@media (max-width: 50rem) {
  .headings {
    gap: 1rem;
  }
  .headings h3 {
    margin: 0;
  }
  .categories {
    gap: 1rem;
  }
  .categories a {
    font-size: 1rem;
  }
}
