body {
  margin: 0;
  background-color: #ccd8db;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*::-webkit-scrollbar {
  display: none;
}
